@model OauthClient.Models.AccountViewModel
<div class="container">
    <h2>Oauth 2 login</h2>
    <form method="post">
        <button type="submit">External login</button>
    </form>

    <div class="row">
        <div class="col-lg-2">@Html.LabelFor(m => m.Mesage)</div>
        <div class="col-lg-5">@Html.DisplayFor(m => m.Mesage)</div>

    </div>

    <div class="row">
        <div class="col-lg-2">@Html.LabelFor(m => m.AccessToken)</div>
        <div class="col-lg-5">@Html.DisplayFor(m => m.AccessToken)</div>
    </div>
    
    <div class="row">
        <div class="col-lg-2">@Html.LabelFor(m => m.RefreshToken)</div>
        <div class="col-lg-5">@Html.DisplayFor(m => m.RefreshToken)</div>
    </div>
    
    <div class="row">
        <div class="col-lg-2"><button type="button" onclick="location.href='@Url.Action("MediaconnectProfile")'">Profile information</button></div>
    </div>

    <div class="row">
        <div class="col-lg-2"><button type="button" onclick="location.href='@Url.Action("Logout")'">Logout</button></div>
    </div>
</div>